use_default_settings: true

general:
  debug: false
  instance_name: "SearxNG"
  donation_url: false
  contact_url: false
  enable_metrics: true

search:
  safe_search: 0
  autocomplete: "google"
  default_lang: ""
  formats:
    - html
    - json

server:
  secret_key: "${SEARXNG_SECRET_KEY}"
  limiter: false
  image_proxy: true
  http_protocol_version: "1.0"

ui:
  default_theme: simple
  default_locale: ""
  query_in_title: true
  infinite_scroll: true
  center_alignment: true
  results_on_new_tab: false

enabled_engines:
  - name: google
    engine: google
    shortcut: g
    disabled: false
  - name: bing
    engine: bing
    shortcut: b
    disabled: false
  - name: duckduckgo
    engine: duckduckgo
    shortcut: d
    disabled: false
  - name: wikipedia
    engine: wikipedia
    shortcut: w
    disabled: false
  - name: github
    engine: github
    shortcut: gh
    disabled: false
